{% extends "base.html" %}
{% load i18n %}
{% load timeline_tags %}
{% load date %}

{% block title %}{% trans "Main" %}{% endblock %}

{% block contextmenu %}
{% if request.user.is_authenticated %}
<li><a href="{% url news-new-story %}">{% trans "Create new story" %}</a></li>
{% if infopage and infopage.admingroup in request.user.groups.all %}
<li><a href="{% url edit-flatpage infopage.id %}">{% trans "Edit welcome text" %}</a></li>
{% endif %}
{% endif %}
{% endblock %}

{% block contextinfo %}

{% if request.user.is_authenticated %}
<div id="timeline-wrapper">
{% render_timeline for request.user %}
</div>
{% endif %}

{% if request.user.is_authenticated %}
<div id="projects">
    <h1>Prosjekter</h1>
    {% for project in projects %}
    <a class="project" href="{{ project.get_absolute_url }}">
        <h2>{{ project }}</h2>
        <p>{% between_datetimes project.start project.end %}</p>
        <ul>
        {% for event in project.event_set.all %}
            {% if event.in_future %}
            <li class="event">
                    <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
                    {% between_datetimes event.start event.end event.whole_day %}{% if event.location %}, {{ event.location }}{% endif %}
                    {{ event.content_html|safe }}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    </a>
    {% empty %}
    <p class="empty">Ingen prosjekter definert</p>
    {% endfor %}
</div>
{% endif %}

{% if infopage %}
{{ infopage.content_html|safe }}
{% endif %}

{% endblock %}

{% block content %}
<h1>{% trans "News" %}</h1>

<ul class="reset">
    {% for story in object_list %}
    <li>
    <div class="permission">{{ story.group|default:"Verden" }}</div>
    <h2><a href="{{ story.get_absolute_url }}">{{ story.title }}</a></h2>
    <div class="news-root">
        <div class="news-root-header"><a href="{{ story.user.get_profile.get_absolute_url }}">{{ story.user.get_full_name }}</a>, {{ story.created }}</div>
        <div class="text">
            {{ story.content_html|safe }}
        </div>
    </div>
    </li>
    {% empty %}
    <li>{% trans "No news at this time" %}</li>
    {% endfor %}
</ul>

{% endblock content %}
