{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ object.title }}{% endblock %}
{% block content %}

<h1>{{ object.title }}</h1>
<div class="news-root">
    <div class="news-root-reply"><a href="{% url news-stories %}{{ object.id }}/comment">{% trans "Reply" %}</a></div>
    <div class="news-root-header"><a href="{{ object.user.get_profile.get_absolute_url }}">{{ object.user.get_full_name }}</a>, {{ object.created }}</div>

    <div class="text">
        {{ object.content_html|safe }}
    </div>

    <ul class="clear">
        {% for object in object.children.all %}
        <li>
            {% with "news/story_comment.html" as filename %}
            {% include filename %}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}
