{% load i18n %}
{% load avatar_tags %}

<div class="news-comment">
    <div class="news-comment-reply">
        {% if request.user == object.user %}
        <a href="{% url news-edit-story-comment object.id %}">Endre</a> ·
        {% endif %}
        <a href="{% url news-stories %}{{ object.id }}/comment">{% trans "Reply" %}</a></div>
    {% avatar object.user 40 %}
    <div class="news-comment-header"><a href="{{ object.user.get_profile.get_absolute_url }}">{{ object.user.get_full_name }}</a>, {{ object.created }}</div>

    <div class="text">
        {{ object.content_html|safe }}
    </div>
    <div class="clear"></clear>

    <ul>
        {% for object in object.children.all %}
        <li>
            {% with "news/story_comment.html" as filename %}
            {% include filename %}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</div>
