{% extends "base.html" %}
{% load i18n %}
{% load comments %}
{% load threaded_comments %}

{% block title %}{% trans "Forum" %}{% endblock %}

{% block content %}
<h1>{% trans "Forum" %}</h1>
{% if object_list %}
<dl class="discussion-list">
{% for discussion in object_list %}
{% get_comment_count for discussion as comment_count %}
<dt class="discussion">
<a href="{{ discussion.get_absolute_url }}">
    <div class="header">
        <span class="title">{{ discussion.title }}</span>
        {% if discussion.tags %}<span class="tags">{{ discussion.tags }}</span>{% endif %}
    </div>
    <div class="count" title="{{ comment_count }} svar">{{ comment_count }}</div>
    <div class="permission">{{ discussion.group|default:"Verden" }}</div>
    <div class="meta">
        <span class="author">{{ discussion.user.get_full_name }}</span>
        <span class="teaser">{{ discussion.content_html|striptags|truncatewords:20 }}</span>
    </div>
    <div class="date">{{ discussion.created_date|timesince }}</div>
</a>
</dt>
{% get_last_comments for discussion as last_comments %}
{% for comment in last_comments %}
<dd class="comment">
    <a href="{{ comment.get_absolute_url }}">
        <div class="meta">
            <span class="author">{{ comment.user.get_full_name }}</span>
            <span class="teaser">{{ comment.content_html|striptags|truncatewords:20 }}</span>
        </div>
        <div class="date">{{ comment.submit_date|timesince }}</div>
    </a>
</dd>
{% endfor %}
{% endfor %}
</dl>
{% else %}
{% trans "No discussions from" %} {{ year }}
{% endif %}

{% load paginator %}
{% if is_paginated %}<div class="paginator">{% paginator %}</div>{% endif %}

{% endblock content %}

{% block contextmenu %}
<li><a href="{% url forum-new %}">{% trans "New forum post" %}</a></li>
{% endblock contextmenu %}

{% block contextinfo %}
<h2>Arkiv</h2>
<ul>
{% for date in date_list %}
<li><a href="{% url forum-archive-year date.year %}">{{ date.year }}</a></li>
{% endfor %}
</ul>
{% endblock contextinfo %}
