{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Forum" %}{% endblock %}

{% block contextmenu %}
  {% if request.user.is_authenticated %}
    <a href="{% url forum-new-debate %}">{% trans "New topic" %}</a>
  {% endif %}
{% endblock %}

{% block content %}
<h1>{% trans "Forum" %}</h1>
<ul>
{% for debate in object_list %}
<li>
    <h2><a href="{{ debate.get_absolute_url }}">{{ debate.title }}</a></h2>
    {% trans "Created" %} {{ debate.created }}
    {% if debate.get_comment_count %}
    {% trans "with" %} {{ debate.get_comment_count }} {% trans "replies" %}<br />
        {% trans "Last" %} {{ debate.get_last_comment_time }} {% trans "from" %} {{ debate.get_last_commentor.get_full_name }}
    {% endif %}</li>
{% empty %}
<li>{% trans "Nothing here" %}</li>
{% endfor %}
</ul>

{% load paginator %}
{% if is_paginated %}<div class="paginator">{% paginator %}</div>{% endif %}

{% endblock content %}
