/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Sigurd Gartmann
   ========================================================================== */


html {
    color: #333333;
}
body {
    font-family: sans-serif;
    background-image: url(/static/img/top-bg.png);
    background-repeat: repeat-x;
    background-color: #666666;
}

div#top-bg {
    margin: 0 auto;
    width: 970px;
    background-image: url(/static/img/top.png);
    background-repeat: no-repeat;
}
div#middle-bg {
    margin: 0 auto;
    width: 970px;
    background-image: url(/static/img/middle.png);
    background-repeat: repeat-y;
}
div#bottom-bg {
    margin: 0 auto;
    width: 970px;
    background-image: url(/static/img/bottom.png);
    background-repeat: no-repeat;
    padding-bottom: 10px;
}
#top {
    margin: 0 auto;
    width: 960px;
    height: 150px;
    position: relative;
    color: #ffffff;
}
div#middle {
    margin: 0 auto;
    width: 960px;
    clear: both;
    position: relative;
}
#bottom {
    margin: 0 auto;
    width: 960px;
}
div#middle a {
    color: #a30302;
}
div#middle h2 a {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}
div#sidebar h2 a {
}
div#middle strong {
    font-weight: bold;
}
div#middle em {
    font-style: italic;
}
#top a {
    color: #ffffff;
    font-weight: bold;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

td, th {
    vertical-align: top;
}

dl {
    margin-bottom: 1em;
    width: 100%;
    float: left;
}

dt {
    font-weight: bold;
    float: left;
    clear: left;
    margin-right: 1ex;
}

dd {
    clear: right;
    float: left;
}

ul { padding: 0 0 0 20px; }


#login {
    position: absolute;
    right: 10px;
    top: 108px;
}

#breadcrumbs {
    position: absolute;
    top: 108px;
    left: 74px;
}

#menu {
    position: absolute;
    top: 132px;
    left: 74px;
}

#menu ul li {
    float: left;
    margin-right: 10px;
}

div#sidebar {
    width: 280px;
    float: right;
    padding: 0 10px;
}
div#contextinfo {
}
ul#contextmenu {
    padding: 0;
    margin: 0;
    list-style: none;
}
div#content {
    width: 640px;
    padding: 0 10px 1px 10px;
    background-image: url(/static/img/content-bg.png);
    background-repeat: repeat-x;
}
div.text {
    width: 100%;
    margin-top: 30px;
    float: left;
}

div.text ul, div.content ul, div.comment ul {
    padding-left: 20px;
    padding-bottom: 15px;
    list-style: disc outside;
}
div.text ol, div.content ol, div.comment ol {
    padding-left: 20px;
    padding-bottom: 15px;
    list-style: decimal outside;
}

div.text ul li {
}

div#footer {
}

#bottom div.footerbox {
    width: 220px;
    float: left;
    padding: 20px 10px 0 10px;
}

div#middle h1 {
    font-size: 20px;
    font-weight: 500;
    padding-top: 12px;
    margin-top: 0;
}

div#sidebar h1 {
}


div#middle h2 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0;
}

ul.reset {
    padding: 0;
    margin: 0;
    list-style: none;
}
.clear {
    clear: both;
}

p {
    padding-bottom: 14px;
}

.footerbox { color: #ffffff; }
.footerbox a { color: #fe9592; }
.footerbox h2 { font-weight: bold; padding-top: 10px; font-size: 13px; }
.footerbox ul { list-style: none; padding: 0; margin: 0; }

.paginator { padding: 10px 0 10px 0 }
.paginate-pages { padding: 2px 3px; }
.paginate-first, .paginate-last { padding: 2px 6px; border: 1px solid #ddd; font-weight: bold; }
.paginate-previous, .paginate-next { padding: 2px 3px; border: 1px solid #ddd; }
.paginate-link { padding: 2px 4px; border: 1px solid #ddd; }
.paginate-current { padding: 2px 4px; border: 1px solid #ddd; font-weight: bold; background:#efefef; color:#ffffff; }

div.preview {
    float: right;
    padding: 0 0 0 20px;
}


/* forum */

div.news-root,
div.news-comment,
div.forum-post,
div.forum-comment {
    position: relative;
    border-top: 1px solid #dddddd;
}

div.news-root {
}

div.forum-post {
    width: 460px;
}

div.news-comment,
div.forum-comment {
    width: 460px;
    margin-left: 20px;
}

div.news-comment img.avatar,
div.forum-post img.avatar,
div.forum-comment img.avatar {
    position: absolute;
    top: 0;
    left: 0;
}

div.news-comment-header,
div.forum-post-header,
div.forum-comment-header {
    position: absolute;
    top: 0;
    left: 45px;
}
div.news-root-header {
    position: absolute;
    top: 0;
    left: 0;
}

div.news-root-reply,
div.news-comment-reply,
div.forum-post-reply,
div.forum-comment-reply {
    position: absolute;
    top: 0;
    right: 0;
}

td.col2 {
    width: 100px;
    margin-right: 20px;
}
td.col4 {
    width: 220px;
    margin-right: 20px;
}
td.col5 {
    width: 280px;
    margin-right: 20px;
}

/* files */
div.filetags {
    margin-top: 5px;
    float: right;
}
div.filelist h2 {
}

/* activities */
.event {
    clear: left;
}
.event h2 {
    padding-top: 8px;
}
.event .permission {
    margin-top: 9px;
}
.calendar {
    display: block;
    text-align: center;
    float: left;
    border: 2px solid #666666;
    border-top: 4px solid #666666;
    width: 45px;
    margin-bottom: 10px;
    margin-right: 15px;
}
.calendar-month {
    display: block;
    font-size: 9px;
    padding-bottom: 2px;
}
.calendar-day {
    display: block;
    font-size: 18px;
    padding-top: 1px;
}
.calendar-weekday {
    display: block;
    font-size: 11px;
    background-color: #ca3534;
    color: white;
    padding: 5px 0 2px 0;
}


.uniForm .ctrlHolder{ padding: 7px 7px 7px 0; border-bottom: 1px solid #dfdfdf; }
.uniForm fieldset { clear:left; }
.uniForm .multiField { width: 100%; margin-bottom: 25px; background-color: #efefef; border: 1px solid #ddd; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.uniForm .textInput, .uniForm .inlineLabels .textInput, .uniForm .inlineLabels .fileUpload, .uniForm .selectInput, .uniForm select, .uniForm .inlineLabels .selectInput, .uniForm .inlineLabels select, .uniForm textarea, .uniForm .inlineLabels textarea { width: 54%; }
.uniForm .inlineLabels .formHint { margin-left: 0; margin-top: 7px; }
.uniForm .inlineLabels label, .uniForm .inlineLabels .label { width: 100%; }
.uniForm .blockLabels label, .uniForm .blockLabels .label { width: 100%; }
.uniForm .textInput, .uniForm .blockLabels .textInput, .uniForm .blockLabels .fileUpload, .uniForm .selectInput, .uniForm select, .uniForm .blockLabels .selectInput, .uniForm .blockLabels select, .uniForm textarea, .uniForm .blockLabels textarea { width: 99%; }
.uniForm .formHint, .uniForm .blockLabels .formHint { width: 100%; top: 0; }
.uniForm .blockLabels .formHint { margin-left: 0; }
.uniForm .ctrlHolder { padding: 5px 0; border: none; }
form.uniForm { margin-bottom: 2em; }


/* forum */
div.discussion {
  position: relative;
  width: 460px; }
  div.discussion h1 {
    font-size: 140%; }
  div.discussion div.count {
    position: absolute;
    top: 1.6em;
    right: 0; }
    div.discussion div.count span.count {
      font-size: 140%; }
  div.discussion div.meta {
    position: absolute;
    left: 0;
    top: 2.8em; }
    div.discussion div.meta span.tags {
      font-style: italic;
      color: gray; }
  div.discussion div.date {
    position: absolute;
    right: 0;
    top: 2.8em; }
  div.discussion div.post {
    margin: 1.5em 0 0 0; }

dl.comments {
  position: relative;
  margin: 0 0 0 0; }
  dl.comments dt {
    border-top: 1px solid #efefef;
    position: relative;
    width: 460px;
    font-weight: normal;
    padding-bottom: 2em; }
    dl.comments dt div.reply-link {
      position: absolute;
      right: 0;
      top: 0; }
    dl.comments dt div.comment {
      margin-top: 0.5em}
  dl.comments dd {
    margin: 0 0 0 20px; }

dl.discussion-list dd { float: none; }
dl.discussion-list dd.comment { margin-left: 0; width: 640px; }
dl.discussion-list dd.comment a { display: block; }

dl.discussion-list {
    margin-top: 0;
  position: relative;
  width: 100%; }
  dl.discussion-list a {
      color: #333333;
  }
  dl.discussion-list dt {
    position: relative;
    border-bottom: 1px solid #efefef;
    height: 2.5em;
    float: none;
    clear: none;
    margin: 0;
    font-weight: normal;
    margin-top: 1.5em; }
    dl.discussion-list dt a {
      text-decoration: none;
      color: #333333; }
    dl.discussion-list dt div.header {
      position: absolute;
      height: 1.5em;
    overflow: hidden;
      left: 0;
      top: 0; }
      dl.discussion-list dt div.header span.title {
        font-size: 140%;
        color: #333333; }
      dl.discussion-list dt span.teaser {
        color: gray; }
        dd.comment .meta, dt.discussion .meta, dt.discussion .header {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 540px;
      }
      dd.comment a {
          position: relative;
      }
    dl.discussion-list dt div.count {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 140%;
      color: #333333; }
    dl.discussion-list dt div.meta {
      position: absolute;
      left: 0;
      top: 1.4em; }
      dl.discussion-list dt div.meta span.tags {
        font-style: italic;
        color: gray; }
    dl.discussion-list dt div.date {
      position: absolute;
      left: 535px;
      top: 18px; }
    dl.discussion-list dt div.permission {
      position: absolute;
      left: 535px;
      top: 4px; }
    }
  dl.discussion-list dd.comment {
      clear: none;
      float: none;
      margin-left: 0;
    position: relative; }
    dd.comment { margin-left: 0; }
    dl.discussion-list dd a {
      text-decoration: none;
      color: #333333; }
    dl.discussion-list dd div.date {
      position: absolute;
      left: 535px;
      top: 0; }
    dl.discussion-list dd span.teaser {
      color: gray; }

.with-image {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 210px;
    white-space: nowrap;
}
.without-image {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    white-space: nowrap;
}
#timeline-wrapper { height: 30em; overflow: auto; }
#timeline-wrapper h1 { display: none; }

div.action {
  margin: 12px 0 12px 0; }
  div.action a.content {
    }
    div#timeline .content a {
      text-decoration: none;
      color: gray;
    }
    div#timeline div.header {
        position: relative;
    }
    div#timeline div.date {
      position: absolute;
      right: 0;
      top: 0;
  }

div.action p { margin: 0; padding: 0 }

.month { margin-bottom: 10px; font-size: 16px; }
.month .wno { font-weight: bold; text-align: right; padding-left: 0; }
#middle .month a { text-decoration: none; color: #333 }
#middle .month .other_month a { color: #aaa; }
.month .activities { background-color: #ebb; }
.month .today { font-weight: bold; }
.month td { padding: 4px 6px; text-align: right; width: 12.5% }
.month th { padding: 4px 6px; text-align: center; font-weight: bold; width: 12.5% }

.datenav { position: relative; }
.datenav h1 { text-align: center; margin: 0; display: block; }
.datenav a { font-size: 32px; }
.datenav h1 a { font-size: inherit; }
#sidebar .datenav a:hover { text-decoration: none; background-color: #ebb }
.datenav .next { display: block; position: absolute; top: 3px; right: 0; }
.datenav .prev { display: block; position: absolute; top: 3px; left: 0; }

a.permission { margin-top: 15px; background-color: #eee; border: 1px solid #ddd; border-radius: 3px; padding: 2px 4px; }
a.permission:hover { text-decoration: none }
div.permission, a.permission { float: right; }

div.comment-for { text-align: right; }
div.comment-for a.permission { float: none }


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 960px) {
}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
