{% extends 'base.html' %}

{% block title %}Alle brukere{% endblock %}
 
{% block content %}

<h1>Alle brukere</h1>
{% if object_list %}
<table>
{% for object in object_list %}
<tr>
  <td><a href="{{ object.get_absolute_url }}">{{ object.get_full_name }} ({{ object.username }})</a></td>
  <td>{{ object.get_profile.instrument.name }}</td>
  {% if user_ok %}
  <td>{{ object.get_profile.cellphone }}</td>
  {% endif %}
</tr>
{% endfor %}
</table>
{% else %}
Ingen brukere
{% endif %}

{% endblock content %}
