{% extends 'base.html' %}
{% load i18n %}

{% block title %}Filer{% endblock %}
 
{% block content %}
{% load tagging_tags %}

<h1>Sist lastet opp</h1>

<ul id="filelist">
{% for uploadedfile in object_list %}
<li>
<div class="filetags">
{% tags_for_object uploadedfile as filetags %}
{% for tag in filetags %}
· <a href="{% url file_list %}tags/{{ tags|join:"/"}}{% if tags %}/{% endif %}{{ tag.name }}">{{ tag }}</a>
{% endfor %}
</div>
<h2><a href="{{ uploadedfile.get_absolute_url }}">{{ uploadedfile.filename }}</a></h2>
{{ uploadedfile.uploaded }} <a href="{{ uploadedfile.user.get_absolute_url }}">{{ uploadedfile.user.get_full_name }}</a>
</li>
{% empty %}
<li>Nothing here</li>
{% endfor %}
</ul>
{% load paginator %}
{% if is_paginated %}<div class="paginator">{% paginator %}</div>{% endif %}
{% endblock %}

{% block contextmenu %}
{% if request.user.is_authenticated %}
<a href="{% url vault.views.new_file %}">Last opp ny fil</a>
{% endif %}
{% endblock %}

{% block contextinfo %}
<form method="get" action="/search/">
    <label for="id_q"><h2>{% trans "Search" %}</h2></label><input type="text" name="q" value="" id="id_q" /><input type="submit" value="{% trans "Search" %}" />
</form>

<h2>{% trans "Projects" %}</h2>
<ul>
{% for project in projects %}
<li><a href="{% url file_list %}tags/{{ tags|join:"/" }}{% if tags %}/{% endif %}{{ project.tag.name}}">{{ project.title }}</a></li>
{% endfor %}
</ul>

{% if request.organization.group in request.user.groups.all %}
<h2>{% trans "Tags" %}</h2>
  {% load tagging_tags %}
  {% tag_cloud_for_model vault.UploadedFile as cloud with distribution=log steps=8 min_count=50 %}
  {% for tag in cloud %}
  {% if tag.name not in tags %}
    <span class="tag">
      <a style="font-size:1.{{ tag.font_size }}em" href="{% url file_list %}tags/{{ tags|join:"/" }}{% if tags %}/{% endif %}{{ tag }}" title="{{ tag.count }}">{{ tag }}</a>
    </span>
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock contextinfo %}


{% load menu %}

{% block breadcrumbs %}
{% breadcrumbs '/files/' request.user menu_tags %}
{% endblock breadcrumbs %}

{% block local_menu %}
{% local_menu '/files/' request.user %}
{% endblock local_menu %}

