{% extends 'base.html' %}

{% block title %}Filinformasjon{% endblock %}

{% block contextmenu %}

{% if object.user == request.user or request.user.is_superuser %}
<li><a href="{% url vault-edit-file object.id %}">Rediger fil</a></li>
{% endif %}
<li><a href="{% url vault-new-file %}">Ny fil</a></li>

{% endblock contextmenu %}
 
{% block content %}

<h1>Fil: {{ object.filename }}</h1>

<p>Filtype: {{ object.content_type }}</p>

{% if object.is_image %}
<img src="{% url vault.views.send_file object.id '11' %}" />
{% endif %}

<p><a href="{% url vault.views.send_file object.id %}">Last ned</a>

<p>Lagret av {{ object.user.get_full_name }}</p>

<p>Lagret dato {{ object.uploaded|date }}</p>

{% endblock %}
