{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Nidarholm{% endblock title %} - {{ request.get_host }}</title>

        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset-min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/uni-form.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/default.uni-form.css" type="text/css" />
        <link type="text/css" href="{{ STATIC_URL }}js/development-bundle/themes/ui-lightness/jquery-ui-1.8.9.custom.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/stylesheet.css" media="screen" />
        <script src="{{ STATIC_URL }}js/mootools-core-1.3.2-full-compat-yc.js"></script>
        <script src="{{ STATIC_URL }}js/jquery-1.6.1.min.js" ></script>
        <script src="{{ STATIC_URL }}js/jquery-ui-1.8.9.custom.min.js" ></script>
        <script src="{{ STATIC_URL }}js/uni-form.jquery.js"></script>
        <script src="{{ STATIC_URL }}js/tagging_autocomplete.js"></script>
        <script src="{{ STATIC_URL }}js/iFrameFormRequest.js"></script>
        <script src="{{ STATIC_URL }}js/Request.File.js"></script>
        <script src="{{ STATIC_URL }}js/Form.MultipleFileInput.js"></script>
        <script src="{{ STATIC_URL }}js/uploader.js"></script>


        <script type="text/javascript">
        $('html').ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
        // Only send the token to relative URLs i.e. locally.
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
</script>

    </head>

    <body id="generic">
        {% block body %}
        <div id="page">
            {% block page %}
            <div id="top-bg">
                <div id="top">
                    <div id="login">
                        {% block login %}
                        {% if request.user.is_authenticated %}
                        {% trans "Logged in as" %} <a href="{{ request.user.get_absolute_url }}">{{ request.user.username }}</a>.
                        <a href="{% url auth_logout %}">{% trans "Log out" %}</a>
                        {% else %}
                        <a href="{% url auth_login %}">{% trans "Log in" %}</a>
                        {% endif %}
                        {% endblock login %}
                    </div>

                    {% load menu %}
                    <div id="breadcrumbs">
                        {% block breadcrumbs %}
                        {% breadcrumbs request.path_info request.user %}
                        {% endblock breadcrumbs %}
                    </div>
                    <div id="menu">
                        {% block local_menu %}
                        {% local_menu request.path_info request.user %}
                        {% endblock local_menu %}
                    </div>
                </div>
            </div>


            <div id="middle-bg">
                <div id="middle">
                    <div id="sidebar">
                        <ul id="contextmenu">
                            {% block contextmenu %}
                            {% endblock %}
                        </ul>
                        <div id="contextinfo">
                            {% block contextinfo %}{% endblock %}
                        </div>
                    </div>

                    <div id="content">
                        {% block content %}
                        No content here
                        {% endblock content %}
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>

            <div id="bottom-bg">
                <div id="bottom">
                    {% block footer %}<div class="footerbox">{{ request.organization.contact_html|safe }}</div>{% endblock footer %}
                    {% load request_tag %}
                    {% active_users in 10 minutes as user_list %}
                    {% if request.user.is_authenticated %}
                    <div class="footerbox">
                        <h2>{% trans "Active users last 10 minutes" %}</h2>
                        <ul>
                            {% for user in user_list %}
                            <li><a href="{{ user.get_profile.get_absolute_url }}">{{ user.username }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="footerbox">
                        <h2>{% trans "Last commented news" %}</h2>
                        {% load interactivity %}
                        {% last_commented_news request 10 %}
                    </div>
                    <div class="footerbox">
                        <h2>{% trans "Last uploaded files" %}</h2>
                        {% load interactivity %}
                        {% file_list request 10 %}
                    </div>
                    {% else %}
                    {% if user_list %}
                    <p>{{ user_list|length }} {% trans "active users last 10 minutes" %}</p>
                    {% endif %}
                    {% endif %}
                    <div style="clear:both;"></div>
                </div>
            </div>
            {% endblock page %}
        </div>
        {% endblock body %}
        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stat.nidarholm.no/" : "http://stat.nidarholm.no/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script><noscript><p><img src="http://stat.nidarholm.no/piwik.php?idsite=2" style="border:0" alt="" /></p></noscript>
        <!-- End Piwik Tracking Code -->
    </body>
</html>
