{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Event list" %}{% endblock %}

{% block contextmenu %}
{% if request.user.is_authenticated %}
<li><a href="{% url events-new %}">{% trans "New event" %}</a></li>
{% endif %}
<li><a href="{% url events-archive %}">{% trans "Event archive" %}</a></li>
{% endblock %}

{% block contextinfo %}
{% endblock contextinfo %}

{% block content %}
{% load date %}

<h1>{% trans "Event list" %}</h1>
<ul>
{% for event in object_list %}
<li>
  <a href="{{ event.get_absolute_url }}">{{ event.title }}</a><br />
  {% single_datetime event.start event.whole_day %}{% if event.location %}, {{ event.location }}{% endif %}</li>
{% empty %}
<li>{% trans "Nothing here" %}</li>
{% endfor %}
</ul>

{% endblock content %}
