{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ object.title}} - {% trans "Events" %}{% endblock %}

{% block contextmenu %}
{% if request.user.is_authenticated %}
<li><a href="{% url events-edit object.id %}">{% trans "Edit" %}</a></li>
<li><a href="{% url events-delete object.id %}">{% trans "Delete" %}</a></li>
{% endif %}
{% endblock %}

{% block content %}
{% load date %}
<h1>{{ object.title }}</h1>
<p>
  {% between_datetimes object.start object.end object.whole_day %}{% if object.location %}, {{ object.location }}{% endif %}<br />
  ({% if object.group %}{% trans "For group" %}: {{ object.group }}{% else %}{% trans "For all" %}{% endif %})
</p>

{{ object.content_html|safe }}

{% endblock content %}
