{% extends "base.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block title %}{% trans "New event" %}{% endblock %}

{% block content %}

<h1>{% if object.title %}{% trans "Edit" %} {{ object.title }}{% else %}{% trans "New event" %}{% endif %}</h1>

<form method="post" action="" class="uniForm">{% csrf_token %}
    <fieldset>
        {{ form|as_uni_form }}
    </fieldset>
    <div class="buttonHolder"><button type="submit">{% trans "Submit" %}</button></div>
</form>

{% endblock content %}

{% block footer_include %}
{{ form.media }}
{% endblock %}
