{% extends "base.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block title %}{% trans "New registration" %}{% endblock %}

{% block content %}

<h1>{% trans "New registration" %}</h1>

<p>{% trans 'If you have lost your password, or are already registered by an administrator, please go back to the login form and click "reset password" near the password field' %}</p>

<form method="post" class="uniForm">
    {% csrf_token %}
    {{ form|as_uni_form }}
    <input type="submit" value="{% trans "Save"%}" />
</form>

{% endblock content %}
