{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ object.title}} - {% trans "Project" %}{% endblock %}

{% block contextmenu %}
{% if object.admingroup in request.user.groups.all or request.organization.admingroup in request.user.groups.all %}
<li><a href="{% url edit_project object.slug %}">{% trans "Edit" %}</a></li>
{% endif %}
{% endblock %}

{% block contextinfo %}
{% load date %}
<h1>{{ object.title }}</h1>
<p>
    {% between_datetimes object.start object.end %}<br />
    ({% if object.group %}{% trans "For group" %}: {{ object.group }}{% else %}{% trans "For all" %}{% endif %})
</p>
{% if request.organization.group in request.user.groups.all %}
{% if object.tag %}
{% load tagging_tags %}
<h2><a href="{% url file_list %}tags/{{ object.tag.name }}">{% trans "Project files" %}</a></h2>
{% tagged_objects object.tag in vault.UploadedFile as uploadedfiles %}

<ul>
    {% for uploadedfile in uploadedfiles %}
    <li><a href="{{ uploadedfile.get_absolute_url }}">{{ uploadedfile.filename }}</a></li>
    {% empty %}
    <li><em>{% trans "No files tagged with project tag" %} {{ object.tag.name }}</em></li>
    {% endfor %}
</ul>
{% endif %}
{% endif %}
{% endblock %}

{% block content %}

{{ object.content_html|safe }}

{% endblock content %}
