{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h1>{% trans "Projects" %}</h1>

<ul class="reset">
{% for project in object_list %}
<li><h2><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h2><a href="{% url file_list %}tags/{{ project.tag.name }}">{% trans "Project files" %}</a></li>
{% endfor %}
</ul>

{% endblock %}

{% block contextmenu %}
{% if request.organization.group in request.user.groups.all %}
<a href="{% url new_project %}">{% trans "New project" %}</a>
{% endif %}
{% endblock %}
