#top {
    background-color: #9999ff;
    height: 200px;
}

#middle {
    background-color: #dedede;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#bottom {
    background-color: #9999ff;
}

#login {
    float: right;
}

#breadcrumbs ul, #menu ul {
    list-style-type: circle;
    padding: 0;
    margin: 0;
    clear: left;
}

#breadcrumbs ul li, #menu ul li {
    float: left;
    padding-right: 30px;
}

#logo {
    padding: 5px;
}

#sidebar {
    float: right;
    width: 220px;
}

div.forum-post {
    width: 460px;
    border: 1px solid gray;
}
div.forum-post-reply {
    float: right;
}
