{% load i18n %}
{% spaceless %}
{% if show_first %}
  <span class="paginate-first"><a href="?page=1" title="{% trans "First page" %}">&laquo;</a></span>
{% endif %}
{% if has_previous %}
  <span class="paginate-previous"><a href="?page={{ previous }}" title="{% trans "Previous page" %}">&lt;</a></span>
{% endif %}
{% for num in page_numbers %}
  {% ifequal num page %}
    <span class="paginate-current" title="{% trans "Current page" %}">{{ num }}</span>
  {% else %}
    <span class="paginate-link"><a href="?page={{ num }}" title="{% blocktrans %}Page {{ num }}{% endblocktrans %}">{{ num }}</a></span>
  {% endifequal %}
{% endfor %}
{% if has_next %}
  <span class="paginate-next"><a href="?page={{ next }}" title="{% trans "Next page" %}">&gt;</a></span>
{% endif %}
{% if show_last %}
  <span class="paginate-last"><a href="?page={{ pages }}" title="{% trans "Last Page" %}">&raquo;</a></span>
{% endif %}
 {% trans "av" %} <span class="paginate-pages">{{ pages }} {% trans "pages" %}</span>
{% endspaceless %}
