{% extends "base.html" %}

{% block title %}Velkommen{% endblock %}

{% block contextmenu %}{% if request.user %}
<li><a href="{% url news-new-story %}">Lag ny nyhet</a></li>
{% if infopage %}<li><a href="{% url edit-flatpage infopage.id %}">Rediger tekst</a></li>{% endif %}
{% endif %}{% endblock %}

{% if infopage %}
{% block contextinfo %}
{{ infopage.content|safe }}
{% endblock %}
{% endif %}

{% block content %}

<h1>Nyheter</h1>

<ul>
{% for story in object_list %}
<li>
  <h2><a href="{{ story.get_absolute_url }}">{{ story.title }}</a></h2>
  {{ story.text_html|safe }}
</li>
{% empty %}
<li>Ingenting å skrive hjem om</li>
{% endfor %}
</ul>

{% endblock content %}
