{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Main" %}{% endblock %}

{% block contextmenu %}{% if request.user.is_authenticated %}
<li><a href="{% url news-new-story %}">{% trans "Create new story" %}</a></li>
{% if infopage %}
<li><a href="{% url edit-flatpage infopage.id %}">{% trans "Edit welcome text" %}</a></li>{% endif %}
{% endif %}
{% endblock %}

{% if infopage %}
{% block contextinfo %}
{{ infopage.content_html|safe }}

<h1>{% trans "Next important event" %}</h1>
{% load event_tag %}
{% next_of_category "Konserter" request.user %}

{% endblock %}
{% endif %}

{% block content %}

<h1>{% trans "News" %}</h1>

<ul>
{% for story in object_list %}
<li>
  <h2><a href="{{ story.get_absolute_url }}">{{ story.title }}</a></h2>
  {{ story.content_html|safe }}
</li>
{% empty %}
<li>{% trans "No news at this time" %}</li>
{% endfor %}
</ul>

{% endblock content %}
