{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

<h1>{{ object.name }}</h1>

{% load grouplistings %}
{% list_groups request group_name object.name %}

{% endblock %}

{% block contextinfo %}
<form method="get" action="/search/">
    <label for="id_q"><h2>{% trans "Search" %}</h2></label><input type="text" name="q" value="" id="id_q" /><input type="submit" value="{% trans "Search" %}" />
</form>

{% if request.user.is_superuser %}
<h1>Ukategoriserte medlemmer</h1>
<ul>
{% for user in users_without_status.all %}
<li><a href="{{ user.get_absolute_url }}">{{ user.username }}</a> {{ user.get_full_name }}</li>
{% endfor %}
</ul>
<h1>Sist registrerte ikkemedlemmer</h1>
<ul>
{% for user in users_not_members.all %}
<li><a href="{{ user.get_absolute_url }}">{{ user.username }}</a> ({{ user.get_full_name }})</li>
{% endfor %}
</ul>

{% endif %}
{% endblock %}
