{% extends 'base.html' %}
{% load i18n %}
{% load avatar_tags %}
{% load tagging_tags %}

{% block content %}
    <h1>{% trans "Search" %}</h1>

    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr><td></td><td><input type="submit" value="{% trans "Search" %}" /></td></tr>
        </table>

        {% if query %}
            <h2>{% trans "Results" %}</h2>

            {% for result in page.object_list %}
            <div style="padding-bottom:1ex; margin-top: 1ex;">
            {% if not result.object.group or result.object.group in request.user.groups.all %}
            {% if result.content_type == "auth.user" %}
            <div style="float:right">{% avatar result.object 40 %}</div>
            <a href="{{ result.object.get_absolute_url }}">{{ result.object.get_full_name }}</a>
            <div>{{ result.object.username }}</div>
            {% endif %}

            {% if result.content_type == "vault.uploadedfile" %}
            {% if result.object.is_image %}
            <img style="float:right" src="{% url vault.views.send_file result.object.id '1' %}"/>
            {% endif %}
            <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
            <div>
                {% tags_for_object result.object as filetags %}
                {% for tag in filetags.all %}
                <a style="padding: 1px 2px; border: 1px solid #ddd; color: #aaa" href="{% url file_list %}tags/{{ tag.name }}">{{ tag }}</a>
                {% endfor %}
            </div>
            {% endif %}

            {% if result.content_type == "news.story" %}
            <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
            <div>
                {{ result.object.content_html|striptags|truncatewords:24 }}
                ({{ result.object.user.username }})
            </div>
            {% endif %}

            {% if result.content_type == "pages.flatpage" %}
            <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
            <div>{{ result.object.content_html|striptags|truncatewords:24 }}</div>
            {% endif %}

            {% else %}
            {% blocktrans %}Hidden file, only visible for members of permission group.{% endblocktrans %}
            {% endif %}
            </div>
            {% empty %}
                <div>{% trans "No results" %}</div>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; {% trans "Previous page" %}{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}{% trans "Next page" %} &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
