<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" > 
	<head> 
		<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
		<title>{% block title %}Heia{% endblock title %} - Nidarholm</title> 
 
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css"> 
		<link rel="stylesheet" type="text/css" href="/m/s/stylesheet.css" media="screen" /> 
		
	</head> 
 
	<body id="generic"> 
      {% block body %}
	    <div id="page"> 
        {% block page %}
        <div id="top"> 
            <div class="padding"> 
                <div id="login"> 
                    {% block login %}{% if request.user.is_authenticated %}Logget inn som <a href="{{ user.get_absolute_url }}">{{ user.username }}</a>. <a href="{% url auth_logout %}">Logg ut</a>{% else %}<a href="{% url auth_login %}">Logg inn</a>{% endif %}{% endblock login %}
                </div> 
 
                {% load menu %}
                <div id="breadcrumbs">
                  {% block breadcrumbs %}
                  {% breadcrumbs request.path_info request.user %}
                  {% endblock breadcrumbs %}
                </div> 
                <div id="menu"> 
                  {% block local_menu %}
                  {% local_menu request.path_info request.user %}
                  {% endblock local_menu %}
                </div> 
            </div> 
        </div> 
 
        <div id="middle"> 
            <div class="padding"> 
                <div id="sidebar"> 
                    <ul id="contextmenu"> 
                        {% block contextmenu %}
                        <li>Nothing in sidebar, do not show</li>
                        {% endblock %} 
                    </ul> 
                    <div id="contextinfo"> 
                        {% block contextinfo %}{% endblock %}
                    </div> 
                </div> 
 
                <div id="content"> 
                    {% block content %}
                    No content here
                    {% endblock content %}
                </div> 
            </div> 
            <div style="clear:both;"></div> 
        </div> 

         <div id="bottom">
            <div class="padding">
                {% block footer %}Opphavsrett (c) Nidarholm og Nidarholms medlemmer - <a href="/kontakt/">Kontakt</a>: post (a) nidarholm.no - Postadresse: Postboks 1881 Lade, 7440 Trondheim - Kontonummer: 4240 07 10036 - Organisasjonsnummer: 971 558 105{% endblock footer %}
                {% load request_tag %}
                {% active_users in 10 minutes as user_list %}
                {% if request.user.is_authenticated %}
                    <h2>Aktive brukere siste 10 minutt</h2>
                    <ul>
                    {% for user in user_list %}
                    <li><a href="{{ user.get_profile.get_absolute_url }}">{{ user.username }}</a></li>
                    {% endfor %}
                    <h2>Siste filer</h2>
                    {% load interactivity %}
                    {% file_list request 10 %}
                {% else %}
                    {% if user_list %}
                    <p>{{ user_list|length }} aktive brukere siste 10 minutt</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endblock page %}
  </div>
  {% endblock body %}
</body>
</html>
