{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ profile.user.username }}{% endblock %}

{% block contextmenu %}
{% if request.user == profile.user %}
<li><a href="{% url edit-profile %}">{% trans "Edit user details" %}</a></li>
<li><a href="{% url avatar_change %}"{% trans "Change profile picture" %}</a></li>
{% endif %}
{% if request.user.is_superuser %}
<li><a href="{% url user-groups profile.user %}">{% trans "Edit group permissions" %}</a></li>
{% endif %}
{% endblock %}
 
{% block content %}
<h1>{{ profile.user.get_full_name }}</h1>

<p>{{ profile.user.username}}</p>

{% load avatar_tags %}
{% avatar profile.user 100 %}

<h2>Kontaktinfo</h2>
<table>
    <tr><th>Epost</th><td>{{ profile.email }}</td></tr>
    <tr><th>Mobil</th><td>{{ profile.cellphone }}</td></tr>
    <tr><th>Adresse</th><td>{{ profile.address }}</td></tr>
    <tr><th>Postnummer</th><td>{{ profile.postcode }}</td></tr>
</table>

<h2>Arbeid</h2>
<table>
    <tr><th>Yrke</th><td>{{ profile.occupation }}</td></tr>
    <tr><th>Arbeidsgiver</th><td>{{ profile.employer }}</td></tr>
</table>

<h2>Fødselsdag</h2>
Kommer

<h2>Grupper</h2>

<ul>
  {% for group in profile.user.groups.all %}
  <li><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></li>
  {% empty %}
  <li><em>{{ profile.user.username}} is not member of any groups</em></li>
  {% endfor %}
</ul>

{% endblock %}
