{% extends 'base.html' %}

{% block title %}{{ profile.user.username }}{% endblock %}

{% block contextmenu %}
{% if request.user == profile.user %}
<li><a href="{% url edit-profile %}">Rediger opplysninger</a></li>
<li><a href="{% url avatar_change %}">Endre bilde</a></li>
{% endif %}
{% if request.user.is_superuser %}
<li><a href="{% url user-groups profile.user %}">Rediger grupper</a></li>
{% endif %}
{% endblock %}
 
{% block content %}
<h1>{{ profile.user.get_full_name }}</h1>

{% load avatar_tags %}
{% avatar user 100 %}

<p>{{ profile.user.username}}</p>

<h2>Groups</h2>

<ul>
  {% for group in profile.user.groups.all %}
  <li><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></li>
  {% empty %}
  <li><em>{{ profile.user.username}} is not member of any groups</em></li>
  {% endfor %}
</ul>

{% endblock %}
