{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "All users" %}{% endblock %}
 
{% block content %}
{% if request.user.is_superuser %}
<h1>Alle brukere</h1>
{% if object_list %}
<table>
{% for object in object_list %}
<tr>
  <td><a href="{{ object.user.get_absolute_url }}">{{ object.user.get_full_name }} ({{ object.user.username }})</a></td>
</tr>
{% endfor %}
</table>
{% else %}
{% trans "No users" %}
{% endif %}
{% else %}
{% trans "Only superusers may see this" %}
{% endif %}

{% endblock content %}
