{% extends "base.html" %}
{% load i18n %}
{% load avatar_tags %}

{% block content %}
    <p>{% trans "Your profile picture:" %}</p>
    {% avatar user 100 %}
    {% if not avatars %}
        <p>{% trans "You do not have a profile picture. It would be kind of you to upload one." %}</p>
    {% else %}
        <form method="POST" action="">
          {% csrf_token %}
            <ul>
                {{ primary_avatar_form.as_ul }}
            </ul>
            <input type="submit" value="{% trans "Choose picture" %}" />
        </form>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="">
        {% csrf_token %}
        <input type="file" name="avatar" value="{% trans "Profile picture" %}" />
        <input type="submit" value="{% trans "Upload" %}" />
    </form>
{% endblock %}
