django<1.4
django-request
django-profiles
django-avatar
django-debug-toolbar
django-extensions
django-uni-form
django-tagging
django-mptt
django-haystack
django-markitup
BeautifulSoup
markdown
werkzeug
pillow
python-magic
pycrypto
whoosh
south
unidecode
vobject
python-dateutil<2
#hg+http://bitbucket.org/ubernostrum/django-registration/#egg=django-registration
django-registration
bzr+lp:~adam.russell/pyexiv2/pyexiv2-0.3#egg=pyexiv2
git+git://github.com/alekam/django-tagging-autocomplete#egg=django-tagging-autocomplete
git+ssh://git@git.strekmann.no/s7n_pages.git@master#egg=s7n-pages
git+ssh://git@git.strekmann.no/s7n_threaded_comments.git@nidarholm#egg=s7n-threaded-comments
git+ssh://git@git.strekmann.no/s7n_forum.git@nidarholm#egg=s7n-forum
git+ssh://git@git.strekmann.no/s7n_utils.git@master#egg=s7n-utils
git+ssh://git@git.strekmann.no/s7n_paginator.git@master#egg=s7n-paginator
git+ssh://git@git.strekmann.no/s7n_timeline.git@nidarholm#egg=s7n-timeline
samklang-utils
django-floppyforms
#bzr+https://code.launchpad.net/~adam.russell/pyexiv2/pyexiv2-0.3
