django-request
django-profiles
django-registration
django-avatar
django-debug-toolbar
django-extensions
markdown
xapian-haystack
werkzeug
pil
pyexiv2
magic
unidecode
-e hg+http://bitbucket.org/ubernostrum/django-registration/#egg=django-registration
