django
django-request
django-profiles
django-avatar
django-debug-toolbar
django-extensions
django-uni-form
django-tagging
djanog-mptt
django-haystack
BeautifulSoup
markdown
werkzeug
pil
python-magic
whoosh
south
unidecode
hg+http://bitbucket.org/ubernostrum/django-registration/#egg=django-registration
git+git://github.com/alekam/django-tagging-autocomplete#egg=django-tagging-autocomplete
