{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "All users" %}{% endblock %}
 
{% block content %}

<h1>{% trans "All users" %}</h1>
{% if object_list %}
<table>
{% for object in object_list %}
<tr>
  <td><a href="{{ object.get_absolute_url }}">{{ object.get_full_name }} ({{ object.username }})</a></td>
  <td>{{ object.get_profile.instrument.name }}</td>
  {% if user_ok %}
  <td>{{ object.get_profile.cellphone }}</td>
  {% endif %}
</tr>
{% endfor %}
</table>
{% else %}
{% trans "No users" %}
{% endif %}

{% endblock content %}
