{% extends 'base.html' %}
{% load i18n %}
{% load uni_form_tags %}

{% block title %}
{% if request.user == profile.user %}
{% blocktrans %}Edit your profile{% endblocktrans %}
{% else %}
{% blocktrans %}Edit user profile: {{ profile }}{% endblocktrans %}
{% endif %}
{% endblock %}

{% block content %}
{% if request.user == profile.user %}
<h1>{% blocktrans %}Edit your profile{% endblocktrans %}</h1>
{% else %}
<h1>{% blocktrans %}Edit user profile: {{ profile }}{% endblocktrans %}</h1>
{% endif %}
 
<form method="post" action="" class="uniForm">
    {% csrf_token %}
    {{ form|as_uni_form }}
    <input type="submit" name="submit" value="{% trans "Submit" %}" id="submit" />
</form>
 
{% endblock content %}
