{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Event list" %}{% endblock %}

{% block contextmenu %}
{% if request.user.is_authenticated %}
<li><a href="{% url events-new %}">{% trans "New event" %}</a></li>
{% endif %}
{% endblock %}

{% block content %}
{% load date %}

<h1>{% trans "Event list" %}</h1>
<ul>
{% for event in object_list %}
<li><a href="{{ event.get_absolute_url }}">{{ event.title }}</a> {% single_datetime event.start %}</li>
{% empty %}
<li>{% trans "Nothing here" %}</li>
{% endfor %}
</ul>

{% endblock content %}
