body {
    margin: 0 auto;
    width: 960px;
    font-family: sans-serif;
    line-height: 1.3;
    font-size: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

td, th {
    vertical-align: top;
}

div#top {
    background-image: url(/m/i/nidarholmlogo.png);
    background-repeat: no-repeat;
    height: 124px;
}
div#top div.padding {
    position: relative;
}

div#breadcrumbs {
    position: absolute;
    top: 79px;
    left: 0;
}


div#menu {
    position: absolute;
    top: 105px;
    left: 0;
}
div#menu ul {
    list-style-type: none;
}

div#menu ul li {
    float: left;
    margin-right: 10px;
    padding-left: 0;
}

div#sidebar {
    width: 340px;
    float: right;
}

div#middle {
    padding: 24px 0 24px 0;
    clear: both;
    border-bottom: 1px solid gray;
}

div#login {
    float: right;
}

div#bottom div.footerbox {
    width: 220px;
    float: left;
}

div#middle h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
}

div#middle h2 {
    font-size: 20px;
    margin-top: 5px;
}

p {
    margin-bottom: 14px;
}

div.footerbox h2 {
    font-weight: bold;
    padding-top: 10px;
}
