{% load i18n %}
{% load avatar_tags %}

<div class="forum-comment">
    <div class="forum-comment-reply"><a href="{{ object.get_absolute_url }}comment">{% trans "Reply" %}</a></div>
    {% avatar object.user 40 %}
    <div class="forum-comment-header"><a href="{{ object.user.get_profile.get_absolute_url }}">{{ object.user.get_full_name }}</a>, {{ object.created }}</div>

    <div class="text">
        {{ object.content_html|safe }}
    </div>
    <div class="clear"></div>
    <ul>
        {% for object in object.children.all %}
        <li>
            {% with "forum/comment.html" as filename %}
            {% include filename %}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</div>
