{% extends "base.html" %}
{% load i18n %}
{% load avatar_tags %}

{% block title %}{{ object.title }}{% endblock %}
{% block content %}

<h1>{{ object.title }}</h1>
<div class="forum-post">
    <div class="forum-post-reply"><a href="{{ object.get_absolute_url }}comment">{% trans "Reply" %}</a></div>
    {% avatar object.user 40 %}
    <div class="forum-post-header"><a href="{{ object.user.get_profile.get_absolute_url }}">{{ object.user.get_full_name }}</a>, {{ object.created }}</div>
    {{ object.content_html|safe }}

    <ul>
        {% for object in object.children.all %}
        <li>
            {% with "forum/comment.html" as filename %}
            {% include filename %}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
